.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
rsconnect/

# container-specific files
.devcontainer/.rstudio_config/*
!.devcontainer/.rstudio_config/README.md
.env
inst/doc
reference_materials/*
!reference_materials/README.md
brickapp.Rcheck/
brickapp*.tar.gz
brickapp*.tgz